.admindb{
    
    button{
        position: relative;
        width: 80%;
        top: 30%;
        text-align: center;
        top: 80px;
        margin-top: 30px;
        border-radius: 10px;
    }




}