.canteenUpdateSchedule{
    label{
        position: relative;
        top: 15px;
    }
    button{
        position: relative;
        margin-top: 30px;
        width: 80%;
        top: 30px;
    }
}