.canteenUpdateSchedule {
    position: relative;
  }
  
  
  label {
    position: absolute;
    top: 45px;
    z-index: 2;
  }
  
  button {
    position: relative;
    margin-top: 30px;
    width: 80%;
    background-color: transparent;
  }
  
  #add{
    width: auto;
  }