.canteenFoodOrder{
    position: relative;

    
    label{
        position: relative;
        top:70px;
        left:20px;
    }

    button{
        position: relative;
        background-color: transparent;
        position: relative;
        width: fit-content;
    }
    ul{
        position: relative;
        top: 70px;
    }
    #add{
        left:100px;
        border: 0px;
        width: 30px;
        top:71px
    }
}