.canteenFoodDetail{
    h1{
        position: relative;
        top: 200px
    }
    h2{
        top: 250px
    }
    button{
        position: relative;
        top: 300px;
        width: 35%;
        margin-left: 10px;
    }
}