
.login {

    label{  
            margin-top: 10px;
            display: flex;
            top: 80px;
            position: relative;
            align-items: center;
            justify-content: center;
        }
    input{
            top:80px;
            position: relative;
            text-align: center;
            width: 200px;
        }

    button{
            top:60px;
            position: relative;
            margin-top: 10%;
        }

    #login {
            position: relative;
            top: 80px;
        }
}