
.login {
    
    label{
            position: relative;
            text-align: center;
        }
    input{
            position: relative;
        }

    button{
            position: relative;
            margin-top: 10%;
        }

    #login {
            position: relative;
            top: 80px;
        }
}