button{
    margin: 0;
    width: 25%;
    margin-top: 10px;
}

label{
    position:relative;
    display: flex;
    left:10px;
    margin: 20px;
    margin-bottom: 0px;
    
}


ul{
    position: relative;
}

li{
    
    margin: 10px;
    display: inline;
}

#back{
    position:fixed;
    top: 16px;
    left: 16px;
    border: 0ch;
}

div{
    background-color: transparent;
    top: 30px
}