#userFoodPick {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    h1 {
      margin-top: 50px;
      margin-bottom: 0.5rem;
      font-size: 50px;

    }
    h2 {
      margin-bottom: 20px;
    }


   

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        display: flex;
        height: min-content;
        font-size: 1rem; /* adjust font size for food names */
        white-space: nowrap;
        text-overflow: ellipsis; /* display "..." when text overflows */
        text-align: left; /* align each food option to the left */
        
        input{
          width: 20px;
          top: 5px;
          margin-right: 10px;
        }
        
        label {
          position: relative;
          color: black;
          display: flex;
          align-items: center;
          cursor: pointer;
          top: 2px;
          span {

          }
        }
      }
    }
    
    button#back {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
    
    button#submit {
      margin-top: 1rem;
    }
    #adjustadd{
      border: 0;
      margin: 0;
      left: 0;
      float: left;
      padding: 3px;
    }
    #adjustsub{
      border: 0;
      margin: 0;
      left: 0;
      float: right;
    }
    #adjust_box{
      border: 2px;
      border-color: black;
      margin: 3px;
      border-style: solid;
      border-radius: 20px;
      padding: 5px;
      width: 200px;
    }
    #item-count{
      margin-left: 10px;
    }
    #order{
      width: 200px;
    }
    #ordered{
      position: absolute ;
      top: 15px;
      right: 10px;
      margin: 0;
      border: 0;
      width: min-content;
    }
  }
  