div {
    margin: 6%;
}

label{
    padding-right: 7px;
    font-weight: 700 ;
}

*{
    text-align: center;
    background-color: rgb(240, 223, 223);
    font-size: 110%;
    margin: 0;
    padding: 0;
}

input{
    padding-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    position: relative;
    right: -10px;
}